@font-face {
  font-family: "Open";
  src: url("../fonts/open/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open L";
  src: url("../fonts/open/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open B";
  src: url("../fonts/open/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open SB";
  src: url("../fonts/open/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Consuit";
  src: url("../fonts/conduit/ConduitITC.ttf") format("truetype");
}

@font-face {
  font-family: "Consuit L";
  src: url("../fonts/conduit/ConduitITC-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Consuit M ";
  src: url("../fonts/conduit/ConduitITC-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Consuit B";
  src: url("../fonts/conduit/ConduitITC-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Consuit L", sans-serif;
  background-color: white;
}

/*header*/
header {
  background-color: white;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
  .header-content {
    height: auto;
    max-width: 1180px;
    width: 100%;
    padding: 0 80px;
  }
}

.navbar {
  background-color: white;
  width: 100%;
  padding: 0 0 0 210px;
  margin: 0;
  height: 125px;
  position: relative;
}

.navbar-brand {
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px;
  margin: 0;
  width: 160px;
  height: auto;
  background-color: white;
  img {
    width: 100%;
  }
}

.navbar-collapse {
  background-color: white;
  height: 100%;
  .navbar-nav {
    height: 100%;
    .nav-item {
      margin: 0 12.5px;
    }
    .nav-item .nav-link {
      font-size: 24px;
      color: #3a325b;
      padding: 45px 5px 0 5px;
      transition: .3s;
      margin: 0;
      background-color: transparent;
      border-bottom: 2px solid transparent;
      position: relative;
      p {
        margin: 0;
        opacity: 1.0;
        transition: .3s;
      }
      span {
        background-color: #e33736;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        transition: .5s;
        overflow: hidden;
        p {
          padding: 45px 5px 0 5px;
        }
      }
      &:hover {
        padding: 0 5px 45px 5px;
        p {
          opacity: 0.0;
        }
        span {
          height: 100%;
          p {
            opacity: 1.0;
          }
        }
      }
      &::after {
        display: none;
      }
    }
    .active .nav-link {
      border-bottom: 2px solid #e33736;
    }
    .dropdown {
      height: 83px;
    }
    .dropdown-menu {
      background-color: transparent;
      border-radius: 0;
      border: none;
      margin: 0;
      padding: 1px 0 0 0;
      .dropdown-item {
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 1px;
        color: white;
        font-size: 24px;
        padding: 5px 20px;
        transition: .3s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
  .navbar-nav {
    .lang-item {
      margin: 0;
    }
    .lang-item .nav-link {
      font-size: 20px;
      margin: 0 5px;
      border-bottom: 2px solid transparent;
      &:hover {
        background-color: transparent;
        border-bottom: 2px solid #e33736;
        padding: 45px 5px 0 5px;
      }
    }
  }
  .navbar-nav .lang-active .nav-link {
    border-bottom: 2px solid #e33736;
  }
  hr {
    display: none;
  }
}

.navbar-light .navbar-toggler {
  border-radius: 0;
  border: 2px solid #3a325b;
}

.home-header {
  background-color: transparent;
  .navbar,
  .navbar-brand,
  .navbar-collapse {
    background-color: transparent;
  }
  .navbar-nav .nav-item .nav-link {
    color: white;
  }
  .nav-item .nav-link {
    color: white;
    p {
      color: white;
    }
    span {
      p {
        color: white;
      }
    }
  }
  .navbar-light .navbar-toggler {
    border: 2px solid white;
  }
  .navbar-collapse {
    hr {
      background-color: white;
      width: 30%;
      margin: 10px auto;
    }
  }
}

.scrolled {
  .navbar-brand {
    padding: 10px;
    width: 90px;
  }
}

@media (max-width: 992px) {
  header {
    .header-content {
      padding: 0 15px;
    }
  }
  .navbar {
    padding: 0;
    height: 100px;
  }
  .navbar-brand {
    position: relative;
    padding: 10px;
    width: auto;
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
  }
  .navbar-collapse {
    background-color: white;
    padding: 15px;
    height: auto;
    .navbar-nav {
      height: auto;
      .nav-item {
        margin: 0;
      }
      .nav-item .nav-link {
        text-align: center;
        color: #3a325b;
        padding: 0;
        margin: 0;
        p {
          margin: 0;
          opacity: 1.0;
          transition: .3s;
        }
        span {
          background-color: #e33736;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          transition: .5s;
          overflow: hidden;
          p {
            padding: 0;
          }
        }
        &:hover {
          padding: 0;
          p {
            opacity: 0.0;
          }
          span {
            height: 100%;
            p {
              opacity: 1.0;
            }
          }
        }
        &::after {
          display: none;
        }
      }
      .active .nav-link {
        border-bottom: 2px solid transparent;
      }
      .dropdown {
        height: auto;
      }
      .dropdown-menu {
        position: relative;
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 20px 0;
        .dropdown-item {
          text-align: center;
          background-color: white;
          margin: 0;
          color: #3a325b;
          padding: 0;
          transition: .3s;
          &:hover {
            background-color: white;
            color: #e33736;
          }
        }
      }
    }

    .navbar-nav {
      .lang-item {
        margin: 0;
      }
      .lang-item .nav-link {
        font-size: 20px;
        margin: 0 5px;
        border-bottom: 2px solid transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .navbar-nav .lang-active .nav-link {
      border-bottom: 2px solid transparent;
    }
  }
  .scrolled {
    .navbar-brand {
      padding: 10px;
      width: auto;
    }
  }
}

/*section*/
section {
  background: url("../images/main-bg.png") no-repeat top;
  background-size: cover;
}

.empty-space {
  height: 500px;
}

.home-section {
  article {
    h3 {
      font-size: 30px;
      font-family: "Consuit B", sans-serif;
      color: #483056;
      margin: 0;
      text-transform: uppercase;
    }
    hr {
      border: none;
      height: 2px;
      background-color: #e33736;
      width: 120px;
      margin: 10px auto 35px auto;
    }
  }
}

/*intro*/
.intro {
  margin: 125px 0 0 0;
  height: auto;
  max-height: 610px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
  }
  @media (max-width: 1200px) {
    img {
      transform: scale(1.5);
    }
    height: 355px;
  }
  @media (max-width: 992px) {
    img {
      transform: scale(2);
    }
    margin: 100px 0 0 0;
    height: 280px;
  }
  @media (max-width: 768px) {
    img {
      transform: scale(3);
    }
  }
  @media (max-width: 578px) {
    img {
      transform: scale(6);
    }
  }
}

.intro-content {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 0);
  text-align: center;
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
  h3 {
    font-size: 45px;
    color: white;
    margin: 0 0 10px 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  p {
    font-size: 30px;
    color: white;
    font-family: "Consuit M", sans-serif;
    margin: 0;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px auto 10px auto;
  }
  @media (max-width: 768px) {
    bottom: 10px;
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 24px;
    }
  }
}

.intro-book-img {
  max-width: 15vw;
  width: 100%;
  margin: 0 auto 40px auto;
}

@media (max-width: 1600px) {
  .intro-book-img {
    max-width: 12vw;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 1280px) {
  .intro-book-img {
    max-width: 10vw;
  }
}

@media (max-width: 1200px) {
  .intro-book-img {
    transform: scale(1.0) !important;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 992px) {
  .intro-book-img {
    max-width: 100px;
    margin: 0 auto;
  }
}

/*info*/
.info-content {
  text-align: center;
  max-width: 850px;
  width: 100%;
  padding: 45px 15px;
  h3 {
    font-size: 30px;
    color: #483056;
    margin: 60px 0 0 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px auto 10px auto;
  }
  p {
    text-align: left;
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 0 0 30px 0;
  }
}

.wineries-info {
  padding: 45px 15px 0 15px;
}

.visit-info {
  img {
    margin: 0 0 60px 0;
  }
}

/*page*/
.page-content {
  @extend .info-content;
  padding: 40px 15px;
  h3 {
    margin: 0;
  }
  button {
    cursor: pointer;
    font-size: 30px;
    font-family: "Consuit L", sans-serif;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
    color: white;
    border: 2px solid #e33736;
    background-color: #e33736;
    margin: 5px 0 70px 0;
    &:hover {
      background-color: transparent;
      color: #3a325b;
    }
  }
}

/*otner*/
.wineries-content {
  max-width: 1120px;
  width: 100%;
  padding: 70px 15px 35px 30px;
  text-align: center;
}

.wineries-box {
  width: 47.5%;
  min-height: 10px;
  margin: 35px 0 35px 0;
  position: relative;
  img {
    width: 100%;
    position: relative;
    bottom: 15px;
    right: 15px;
    z-index: 25;
  }
  a {
    text-decoration: none;
    font-size: 54px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 26;
  }
  .wineries-box-border {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 95%;
    border: 2px solid #3a325b;
    background-color: transparent;
    z-index: 24;
  }
  &:nth-child(2n) {
    .wineries-box-border {
      border-color: #e33736;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 0 45px 0;
    h4 {
      font-size: 35px;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    h4 {
      font-size: 24px;
    }
  }
}

.visit-places-content {
  max-width: 1140px;
  width: 100%;
  padding: 10px 15px 45px 15px;
  text-align: center;
}

.visit-places-box-main {
  border: 1px solid #e33736;
  padding: 65px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.34);
  background-color: white;
  @media (max-width: 768px) {
    padding: 40px;
  }
}

.visit-places-box {
  text-align: center;
  margin: 0 0 45px 0;
  a {
    font-size: 30px;
    color: #483056;
    margin: 20px 0;
    font-family: "Consuit B", sans-serif;
  }
  p {
    text-align: left;
    font-size: 18px;
    color: #474747;
    margin: 0;
  }
  @media (max-width: 768px) {
    img {
      width: 100%;
    }
  }
}

.our-wines-box {
  max-width: 1020px;
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.34);
  padding: 65px 15px 30px 15px;
  text-align: center;
  background-color: white;
  h3 {
    font-size: 30px;
    color: #483056;
    margin: 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px auto 10px auto;
  }
  p {
    text-align: left;
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 0 0 30px 0;
  }
  .carousel {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
  }
  .carousel-inner {
    width: 100%;
  }
  .carousel-item {
    img {
      max-width: 220px;
      width: 100%;
      margin: 60px auto;
    }
  }
  .carousel-caption {
    position: relative;
    right: auto;
    left: auto;
    padding: 0;
    bottom: auto;
  }
  .carousel-control-prev {
    height: 100px;
    width: 36px;
    position: absolute;
    right: auto;
    top: 22%;
    bottom: auto;
    left: 0;
    opacity: 1;
    i {
      color: #b9aec0;
      transition: .3s;
      font-size: 100px;
    }
    &:hover {
      i {
        color: #483056;
      }
    }
    @media (max-width: 768px) {
      top: 45%;
    }
  }
  .carousel-control-next {
    @extend .carousel-control-prev;
    left: auto;
    right: 0;
  }
}

.contact-box {
  max-width: 580px;
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.34);
  padding: 65px 80px 30px 80px;
  text-align: left;
  margin: 60px auto 30px auto;
  background-color: white;
  p {
    font-size: 24px;
    color: #483056;
    margin: 0 0 10px 0;
    i {
      font-size: 30px;
      color: #e33736;
      margin: 0 15px 0 0;
    }
  }
  @media (max-width: 768px) {
    p {
      font-size: 18px;
      i {
        font-size: 20px;
        margin: 0 10px 0 0;
      }
    }
  }
}

.wineries-gallery {
  max-width: 1050px;
  width: 100%;
  .grid-sizer,
  .grid-item {
    margin-bottom: 30px;
    cursor: pointer;
    width: 33.333%;
    padding: 0 15px;
    img{
      width: 100%;
    }
  }
  .grid-item--width2 {
    width: 66.667%;
  }
  @media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
    .grid-item--width2 {
      width: 100%;
    }
  }
}

.full-page-image {
  img {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 500px;
  }
}

.visit-guide {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.visit-guide-content {
  max-width: 820px;
  width: 100%;
}

.visit-guide-box {
  text-align: left;
  img {
    width: 110%;
    position: relative;
    left: -80px;
  }
  h3 {
    font-size: 30px;
    color: #483056;
    margin: 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px 0;
  }
  p {
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 0;
  }
  button {
    cursor: pointer;
    font-size: 30px;
    font-family: "Consuit L", sans-serif;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
    color: #3a325b;
    background-color: transparent;
    border: 2px solid #e33736;
    margin: 40px 0 60px 0;
    &:hover {
      background-color: #e33736;
      color: white;
    }
  }
  @media (max-width: 768px) {
    text-align: center;
    hr {
      margin: 10px auto;
    }
  }
  @media (max-width: 1030px) {
    img {
      width: 100%;
      left: 0;
    }
  }
}

/*see also*/
.see-also {
  border-top: 1px solid #483056;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.see-also-content {
  max-width: 880px;
  width: 100%;
  padding: 0 30px 0 30px;
  h3 {
    text-align: center;
    font-size: 30px;
    color: #483056;
    margin: 60px 0 0 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px auto 70px auto;
  }
}

.see-also-box {
  height: auto;
  width: 38%;
  img {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.see-also-img {
  position: relative;
}

.see-also-border-left {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 80%;
  bottom: -20px;
  border: 2px solid #e33736;
}

.see-also-border-right {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 80%;
  bottom: -20px;
  border: 2px solid #3a325b;
}

.see-also-caption {
  text-align: center;
  h3 {
    text-decoration: none;
    font-size: 30px;
    color: #483056;
    margin: 60px 0 0 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 30px 0 30px 0;
  }
  button {
    cursor: pointer;
    font-size: 30px;
    font-family: "Consuit L", sans-serif;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
    color: white;
    border: 2px solid #e33736;
    background-color: #e33736;
    margin: 0 0 70px 0;
    &:hover {
      background-color: transparent;
      color: #3a325b;
    }
  }
}

/*itineraries action*/

.itineraries-action {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.itineraries-action-content {
  max-width: 880px;
  width: 100%;
  padding: 0 45px;
}

.itineraries-action-box {
  position: relative;
  margin: 0 0 70px 0;
  text-align: left;
  img {
    width: 100%;
  }
  h3 {
    text-decoration: none;
    font-size: 30px;
    color: #483056;
    margin: 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 30px 0 30px 0;
  }
  button {
    cursor: pointer;
    font-size: 30px;
    font-family: "Consuit L", sans-serif;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
    color: white;
    border: 2px solid #e33736;
    background-color: #e33736;
    margin: 0;
    &:hover {
      background-color: transparent;
      color: #3a325b;
    }
  }
}

/*visit site*/

.visit-site-intro {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #483056;
}

.visit-site-intro-content {
  max-width: 850px;
  width: 100%;
  padding: 70px 15px 45px 15px;
  p {
    text-align: left;
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 0;
  }
}

.visit-site {
  width: 100%;
}

.visit-site-content {
  max-width: 850px;
  width: 100%;
  padding: 45px 15px 45px 15px;
  h3 {
    text-align: center;
    font-size: 30px;
    color: #483056;
    margin: 0;
    font-family: "Consuit B", sans-serif;
    text-transform: uppercase;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px auto 10px auto;
  }
  p {
    text-align: left;
    font-size: 18px;
    color: #474747;
    font-family: "Consuit M", sans-serif;
    margin: 0 0 30px 0;
  }
  &:nth-child(1) {
    padding: 90px 15px 60px 15px;
  }
}

.visit-site-info {
  p {
    font-size: 18px;
    font-family: "Consuit B", sans-serif;
    color: #483056;
    margin: 0;
    span {
      color: #474747;
      font-family: "Consuit L", sans-serif;
    }
  }
}

.visit-site-carousel {
  .carousel-control-box {
    max-width: 1180px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    .carousel-control-prev {
      height: 100px;
      width: 36px;
      position: absolute;
      right: auto;
      top: 50%;
      bottom: auto;
      left: 15px;
      opacity: 1;
      transform: translate(0, -50%);
      i {
        color: white;
        transition: .3s;
        font-size: 100px;
      }
      &:hover {
        i {
          color: #222;
        }
      }
      @media (max-width: 768px) {
        i {
          font-size: 70px;
        }
      }
    }
    .carousel-control-next {
      @extend .carousel-control-prev;
      left: auto;
      right: 15px;
    }
  }
}

.home-intro {
  width: 100%;
  height: auto;
  position: relative;
}

.home-intro-content {
  overflow: hidden;
  height: 100%;
  max-height: 100vh;
  min-height: 480px;
}

.slick-dots {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    line-height: 0;
  }
  button {
    background-color: #cfd9e0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin: 5px 0;
    border: none;
  }
  .slick-active button {
    background-color: #e33736;
  }
}

.home-carousel {
  height: 100%;
  .slick-list {
    overflow: visible;
  }
}

.home-carousel-img {
  @media (max-width: 920px) {
    transform: scale(1.5);
  }
  @media (max-width: 730px) {
    transform: scale(1.8);
  }
  @media (max-width: 567px) {
    transform: scale(2.5);
  }
}

.home-carousel-caption {
  position: absolute;
  max-width: 950px;
  width: 100%;
  right: auto;
  bottom: auto;
  left: 50%;
  top: 250px;
  transform: translate(-50%, 0);
  z-index: 10;
  padding: 0 15px;
  text-align: center;
  h2 {
    font-size: 30px;
    font-family: "Consuit M ", sans-serif;
    color: white;
    margin: 30px auto;
    width: 80%;
  }
  hr {
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 0 auto;
    border: none;
  }
  @media (max-width: 992px) {
    top: 200px;
  }
}

.home-intro-scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  height: 120px;
  width: 2px;
  background-color: #cacaca;
  p {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translate(-50%, 0);
    font-size: 30px;
    color: #cacaca;
    margin: 0;
  }
}

.home-action {
  border-bottom: 1px solid #7164a7;
  max-width: 1120px;
  width: 100%;
  padding: 15px 15px 70px 15px;
}

.home-action-content {
  max-width: 820px;
  width: 100%;
  padding: 0;
  text-align: center;
  img {
    margin: 0 0 20px 0;
  }
  p {
    text-align: left;
    font-size: 18px;
    color: #474747;
    font-family: "Open", sans-serif;
    margin: 0 0 20px 0;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  button {
    cursor: pointer;
    font-size: 30px;
    color: #483056;
    font-family: "Consuit L", sans-serif;
    background-color: white;
    border: 2px solid #e33736;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
    margin: 10px 0 0 0;
    &:hover {
      background-color: #e33736;
      color: white;
    }
  }
}

.home-trail-content {
  @extend .wineries-content;
  padding: 70px 30px;
  border: none;
  border-top: 1px solid #7164a7;
}

.home-trail-box {
  position: relative;
  /*.map-info{
    cursor: pointer;
    background-color: white;
    transition: .3s;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 50px;
    text-align: left;
    opacity: 0.0;
    z-index: 50;
    h4 {
      font-size: 18px;
      color: #483056;
      font-family: "Consuit B", sans-serif;
      margin: 0;
    }
    hr {
      width: 80px;
      margin: 10px 20px 10px 0;
    }
    img {
      width: 100px;
      height: 70px;
    }
    p {
      font-size: 16px;
      font-family: "Consuit B", sans-serif;
      color: #222;
      margin: 0;
      span {
        font-family: "Consuit L", sans-serif;
      }
    }
    &:hover{
      opacity: 1.0;
    }
  }*/
  .home-trail-svg {
    width: 100%;
    height: auto;
    z-index: 5;
    position: relative;
  }
  .home-trail-box-border-a {
    position: absolute;
    right: -15px;
    bottom: -20px;
    width: 80%;
    height: 90%;
    border: 2px solid #e33736;
    background-color: transparent;
  }
  .home-trail-box-border-b {
    @extend .home-trail-box-border-a;
    left: -35px;
    top: -20px;
    width: 80%;
    height: 85%;
  }
  @media (max-width: 1200px) {
    .home-trail-box-border-a {
      right: -15px;
      bottom: -15px;
    }
    .home-trail-box-border-b {
      left: -15px;
      top: -15px;
    }
  }
}

.st0 {
  fill: #3A325B;
}

.st1 {
  fill: #322D51;
}

.st2 {
  fill: #E53537;
  transition: .3s;
}

.map-circle {
  cursor: pointer;
  &:hover {
    fill: white;
  }
}

.st3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.4536;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st4 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.4231;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st5 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.4856;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st6 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.3581;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st7 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.4612;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st8 {
  fill: #961A2D;
}

.st9 {
  fill: #B2202E;
}

.st10 {
  fill: #E23836;
}

.st11 {
  fill: #FFFFFF;
}

/*footer*/
footer {
  background-color: #3a325b;
}

.footer-up {
  background: url("../images/footer-bg.png") no-repeat center fixed;
  background-size: cover;
}

.footer-up-content {
  max-width: 1200px;
  width: 100%;
}

.footer-up-box-left {
  padding: 45px 15px;
  img {
    width: 100%;
  }
}

.footer-up-box-right {
  padding: 60px 80px 15px 15px;
  h3 {
    font-size: 30px;
    color: white;
    font-family: "Consuit B", sans-serif;
    margin: 0;
    text-transform: uppercase;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #e33736;
    width: 120px;
    margin: 10px 0 35px 0;
  }
  p {
    font-size: 18px;
    color: white;
    font-family: "Open", sans-serif;
    margin: 0 0 35px 0;
  }
  button {
    cursor: pointer;
    font-size: 30px;
    font-family: "Consuit L", sans-serif;
    border-radius: 5px;
    transition: .3s;
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    margin: 0;
    &:hover {
      background-color: white;
      color: #3a325b;
    }
  }
  @media (max-width: 1200px) {
    padding: 60px 15px 15px 15px;
  }
  @media (max-width: 768px) {
    text-align: center;
    padding: 40px 15px 35px 15px;
    hr {
      margin: 10px auto 35px auto;
    }
  }
}

.footer-down {
  background: url("../images/footer-down-bg.png") no-repeat center fixed;
  background-size: cover;
}

.footer-down-content {
  max-width: 1200px;
  width: 100%;
  padding: 35px 15px;
}

.footer-down-box {
  p {
    font-size: 20px;
    color: white;
    margin: 0 0 5px 0;
    i {
      font-size: 24px;
      color: #b0adbd;
      margin: 0 10px 0 0;
      background-color: transparent;
    }
  }
  .footer-social {
    i {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin: 10px 10px 0 0;
      font-size: 20px;
      color: #3a325b;
      background-color: #b0adbd;
      padding: 0;
      transition: .3s;
      cursor: pointer;
      &:hover {
        background-color: white;
      }
    }
    .fa-facebook {
      padding: 5px 8px;
    }
    .fa-youtube-play {
      padding: 5px 4px;
    }
    .fa-instagram {
      padding: 5px 6px;
    }
  }
  h5 {
    font-size: 24px;
    color: white;
    font-family: "Consuit B", sans-serif;
    margin: 0 0 35px 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      a {
        font-size: 20px;
        color: white;
        margin: 0 0 5px 0;
      }
    }
  }
  @media (max-width: 768px) {
    text-align: center;
    margin: 0 0 45px 0;
    h5 {
      margin: 0 0 15px 0;
    }
  }
}

.footer-down-info-box {
  border-top: 1px solid #686181;
  border-bottom: 1px solid #686181;
  margin: 30px 0;
  padding: 12px 0;
  p {
    font-family: "Open", sans-serif;
    font-size: 15px;
    color: #aaa7b8;
    margin: 0;
    padding: 3px 0;
  }
  a {
    font-size: 20px;
    color: white;
    margin-left: 20px;
  }
}

.footer-down-usaid-box {
  text-align: center;
  img {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  p {
    font-size: 16px;
    color: #b0adbd;
    margin: 0 auto;
    max-width: 820px;
  }
}